<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="a1" class="com.spring.model.Address">
        <property name="city" value="Pune"></property>
        <property name="state" value="MH"></property>
        <property name="country" value="INd"></property>
</bean>
<bean id="e1" class="com.spring.model.Empy">
        <property name="id" value="2"></property>
        <property name="name" value="Thala"></property>
        <property name="addr">
        <ref bean="a1"/>
        </property>
</bean>
</beans>
